:root{
  --primary: #3f51b5;
  --text: #fff;
  --bg: #171b35;
  --primary-100: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex:1;

}

body {
  font-family: sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

